*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    width: 850px;
    height:450px;
    background-color: wheat;
    /* border-width: 5px;
    border-style: solid;
    border-color: red; */
    /* border-left: 5px solid red;
 */
   border: 15px solid violet;
}

button{
    width: 300px;
    height: 70px;
    margin: 50px;
    font-size: 25px;
    background-color: black;
    color: white;
    border: none;
}