*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#wrapper{
    height: 500px;
    width: 500px;
    border: 2px solid black;
    /* background-color:#0ff000; */
    background-image: url("../Assets/2.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
}