#content-box{
    width: 200px;
    height: 200px;
    box-sizing: content-box;
    padding: 20px;
    border: 5px solid black;
    background-color: crimson;
}

#border-box{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    padding: 20px;
    border: 5px solid red;
    background-color: black;
}