*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    min-height: 100vh;
}




section{
    min-height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.s1{
    background-image:url(../Assets/3.jpg);
}

.s2{
    background-image: url(../Assets/4.jpg);
    background-attachment: fixed;
}

.s3{
    background-image: url(../Assets/5.jpg);
}

.s4{
    background-image: url(../Assets/6.jpg);
    background-attachment: fixed;
}

.s5{
    background-image: url(../Assets/7.jpg);
}

.s6{
    background-image: url(../Assets/8.jpg);
    background-attachment: fixed;
}